@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body * > a {
    cursor: pointer;
    text-decoration: none;
}

.container {
    max-width: calc(100% - 300px);
    margin: auto;
}

.container .header {
    margin: 0 auto;
    height: 200px;
    text-align: center;
    background-color: #fff;
}

.header-profile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 15;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

.section {
    position: relative;
    top: 61px;
}

.header-profile .container .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.container .header .logo-name {
    font-weight: 700;
}
.form-group {
    margin-bottom: 10px;
    position: relative;
}

.form-group > * {
    display: inline-block;
}

.form-group > .form-label {
    position: absolute;
    color: #4a4a4a;
    font-weight: 700;
    font-size: 14px;
    left: 5px;
    top: -15px;
    padding: 5px;
    background: white;
    pointer-events: none;
}

.form-group > .form-input,
.form-group > .form-button {
    border: solid 1px #000;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    height: 50px;
}
.form-group > .form-input {
    border: solid 1px rgba(0, 0, 0, 0.32);
    width: calc(100% - 22px);
    margin-bottom: 10px;
    padding: 0px 10px;
    outline: none;
}

.form-group > .form-button {
    font-size: 17px;
    height: 50px;
    line-height: 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #1565c0;
    border: solid 1px #1565c0;
    color: white;
}

.form-footer {
    margin: 30px auto;
}

.form-footer > * {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer > p {
    text-align: right;
    padding-right: 20px;
}

.inline-list,
.inline-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline-list li {
    display: inline-block;
}

.inline-list li span {
    margin: 0 10px;
}

@media screen and (max-width: 600px) {
    .container,
    .section-login {
        max-width: 90%;
        margin: auto;
    }
    .container .header > .header-logo {
        top: 50px;
        position: relative;
    }
    .form-group > * {
        display: block;
        width: 100%;
    }
    .form-group > .form-label {
        margin-bottom: 5px;
    }
    .form-group > .form-input {
        display: block;
        width: calc(100% - 13px);
    }

    .section-dashboard > * {
        margin: 0 auto;
        display: block;
    }

    .dashboard-lines > * {
        display: inline-block;
    }
}

.bold {
    font-weight: bold;
}

.fullh {
    background: #f5f5f7;
    height: 100vh;
}
.header-logo {
    text-align: center;
}
.header-logo svg {
    max-width: 225px;
    height: auto;
}
.header-logo h2 {
    color: #4a4a4a;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.index_fullH {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginForm .section {
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    max-width: 375px;
    margin: auto;
    padding: 20px 30px;
    padding-top: 40px;
}
.form-footer {
    margin-bottom: 0px;
}
