@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body * > a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: calc(100% - 300px);
  margin: auto;
}

.container .header {
  margin: 0 auto;
  height: 200px;
  text-align: center;
}

.container .header .logo-name {
  font-weight: 700;
}

.form-group {
  margin-bottom: 10px;
}

.form-group > * {
  display: inline-block;
}

.form-group > .form-label {
  width: 150px;
}

.form-group > .form-input,
.form-group > .form-button {
  border: solid 1px #000;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  height: 50px;
}

.form-group > .form-input {
  padding-left: 10px;
  width: calc(100% - 167px);
}

.form-group > .form-button {
  font-size: 17px;
  height: 50px;
  margin-top: 20px;
  line-height: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-footer {
  margin: 30px auto;
}

.form-footer > * {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer > p {
  text-align: right;
  padding-right: 20px;
}

@media screen and (max-width: 600px) {
  .container,
  .section-login {
    max-width: 90%;
    margin: auto;
  }
  .container .header > .header-logo {
    top: 50px;
    position: relative;
  }
  .form-group > * {
    display: block;
    width: 100%;
  }
  .form-group > .form-label {
    margin-bottom: 5px;
  }
  .form-group > .form-input {
    display: block;
    width: calc(100% - 13px);
  }
}
